export("%~|%")                                                                                                         
export("%~*%")                                                                                                         
export("%~%")                                                                                                          
export("%~+%")                                                                                                         
export("%<<%")                                                                                                         
export("%<%")                                                                                                          
export("%>>%")
export("%>%")
export("%|%")
export("%-~|%")
export("%-~%")
export("%!~|%")
export("%!~*%")
export("%!~%")
export("%!~+%")
export("%/~%")
export("%*>>%")
export("%*>%")
export("%+=%")
export("%2>>%")
export("%2>%")
export("%!in%")
export("%o~|%")
export("%o~%")
export("%of%")
export("%s~%")
export("%without%")
export("%x=|%")
export("%x=%")
export("%but%")

S3method( "%but%", "default" )
S3method( "%but%", "list" )
S3method( "%but%", "character" )


S3method( "%+=%", "default" )

export( "options" )
S3method( "print", "options" )
S3method( "with", "options" )
S3method( "print", "withOptions" )

export( "strrep" )

S3method( "print", "unixoutput" )

importFrom(utils,"capture.output")

export("%fmt%")
